/*==========  footer  ==========*/
footer {
  background: #000;
  color: #fff; }
  footer .logo {
    border: 0.75px solid #FFC200;
    padding: 37px 98px 37px 74px;
    margin: 0 0 0 -160px; }
    footer .logo img {
      max-width: 143px; }

.footer-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 20px;
  margin: 0 auto; }
  .menu li {
    margin: 0 37px 0 0; }
    .menu li:last-child {
      margin: 0; }
    .menu li a {
      color: #fff; }
      .menu li a:hover {
        color: #FFC200;
        font-weight: bold; }
    .menu li .active {
      color: #FFC200;
      font-weight: bold; }

.footer-box {
  border: 0.75px solid #FFC200;
  padding: 40px 83px; }

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #FFFFFF;
    border-radius: 26px;
  padding: 16px 30px;
  font-weight: bold;
  color: #fff; }
  .phone:hover {
    color: #FFC200; }
  .phone-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    fill: #fff;
    width: 17px;
    height: 17px;
    min-width: 17px;
    margin: 0 16px 0 0; }

/*==========  footer end  ==========*/
/*==========  section  ==========*/
/*==========  section end  ==========*/
