@media only screen and (max-width: 1800px) {
  footer .logo {
    margin: -0.75px 0 -0.75px 0; } }

@media only screen and (max-width: 1670px) {
  .footer-box {
    padding: 40px 20px; }
  footer .logo {
    padding: 37px 30px; }
  .p-130 {
    padding: 100px 0; }
  .callback-wrapper {
    padding: 0 40px; }
  .subtitle-logo {
    font-size: 40px;
    max-width: 435px; }
  .home-content h3 {
    font-size: 60px; }
  .home .logo {
    max-width: 435px; }
  .header-text {
    font-size: 20px; }
  .table-formats {
    min-width: auto; }
  .table-formats thead th:first-child {
    border-left: 0.75px solid #000;
    padding: 30px; }
  .table-formats {
    float: none; }
    .table-formats tbody td:first-child {
      border-left: 0.75px solid #7C7C7C; }
  .formats .table-responsive {
    overflow-x: auto; }
  .blockquote-author {
    margin-left: auto; } }

@media only screen and (max-width: 1500px) {
  .contacts .list-social li {
    margin: 0 20px 0 0; }
  .callback h2 {
    font-size: 90px; }
  .subtitle {
    font-size: 60px; }
  .callback-content {
    max-width: 520px; }
  .callback-wrapper .box-text {
    font-size: 40px;
    line-height: normal; }
  .advantages-wrapper {
    padding: 40px 80px 40px 25px; }
  .header-box {
    padding: 0 40px; }
  .menu {
    font-size: 18px; }
  .header-text {
    font-size: 18px; }
  .table-formats tbody td:first-child {
    padding: 20px; }
  .table-formats td:last-child, .table-formats td:nth-child(2), .table-formats th:last-child, .table-formats th:nth-child(2), .formats .title-wrapper__box, .stages-work-v2 .title-wrapper__box {
    width: 500px; }
  .table-formats thead th {
    padding: 30px; }
  .table-formats h3 {
    font-size: 26px; }
  .stages-work-v2 .stages-work-box .btn {
    font-size: 14px;
    padding: 15px 10px; }
  .cases-row .item-hover {
    max-width: 500px;
    height: 300px;
    right: 40px; } }

@media only screen and (max-width: 1400px) {
  .menu {
    font-size: 16px; }
    .menu li {
      margin: 0 20px 0 0; }
  .title-wrapper__box {
    padding: 30px; }
  .callback-box {
    padding: 40px;
    max-width: 550px; }
  .community-item {
    min-height: 360px;
    padding: 40px; }
  .community-item .item-hover__img {
    height: 140px; }
  .news-slider {
    margin: 30px 0 0; }
    .news-slider .slick-list {
      margin: 0 -10px; }
    .news-slider .slick-slide {
      padding: 0 10px; }
  .reviews-box {
    padding: 30px; }
  .cases-item {
    padding: 40px; }
    .cases-item h3 {
      font-size: 30px;
      line-height: normal; }
  .category-work-item {
    padding: 30px; }
    .category-work-item h3 {
      font-size: 28px; }
  .advantages-wrapper {
    padding-left: 0; }
  .advantages-box__number {
    font-size: 100px;
    line-height: 1;
    margin: 0; }
  .advantages-box p {
    padding: 0 0 0 13px; }
  .home-content h3 {
    font-size: 50px; }
  .subtitle-logo {
    text-align: left;
    font-size: 39px; }
  .menu {
    font-size: 16px; }
  .home .logo {
    max-width: 400px;
    margin: 0; }
  .subtitle-logo {
    max-width: 400px; }
  .home-page h1 {
    font-size: 70px; }
  .home-page .description-text {
    margin: 0 20px 0 auto; }
  .callback-touch .callback-wrapper {
    padding: 0; }
  .home-page-accent .description-text {
    margin: 12px 0 0; }
  .home-page-accent h1 {
    font-size: 50px; }
  .blockquote-content {
    max-width: 700px; }
  .maps-location-wrapper {
    padding: 0; } }

@media only screen and (max-width: 1300px) {
  .subtitle-logo {
    font-size: 34px; }
  .header-text {
    font-size: 16px; }
  .table-formats td:last-child, .table-formats td:nth-child(2), .table-formats th:last-child, .table-formats th:nth-child(2), .formats .title-wrapper__box, .stages-work-v2 .title-wrapper__box {
    width: 400px; }
  .table-formats h3 {
    font-size: 22px;
    margin: 0 0 20px; }
  .table-formats tbody p {
    font-size: 24px; }
  .table-formats tbody span {
    max-width: none;
    float: none; }
  .header-box {
    width: 300px;
    padding: 0 10px; }
  .home-button-animate {
    width: 300px; }
  .home-title {
    width: calc(100% - 300px); }
  .cases-row .item-hover {
    max-width: 400px;
    height: 220px; }
  .cases-row:hover .cases-row__body {
    padding: 60px 0; }
  .case-box-row h3 {
    font-size: 28px; }
  .case-box-row__image {
    width: 280px;
    height: 280px;
    min-width: 280px; }
  .case-box-row img {
    max-width: 100px; }
  .case-box-row__content {
    padding: 0 0 0 20px; }
  .case-box-row .box-text {
    font-size: 16px; }
  .maps-location-box {
    max-width: 550px;
    padding: 30px; }
  .maps-location-markers {
    padding: 20px 0 0 138px; } }

@media only screen and (max-width: 1200px) {
  h2 {
    font-size: 40px; }
  .contacts {
    margin: 0 0 30px; }
    .contacts .title-wrapper {
      margin: 0 0 30px; }
  footer .container {
    padding: 0; }
  footer .logo {
    border: none;
      border-bottom: 0.75px solid rgba(255, 194, 0, 0.7);
    width: 100%;
    max-width: none;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 23px 33px;
    margin: 0; }
  footer .menu {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 24px 33px;
    margin: 0;
    border: none; }
    footer .menu li {
      width: 50%;
      margin: 0 0 7px 0; }
      footer .menu li:first-child {
        -webkit-box-ordinal-group: -5;
            -ms-flex-order: -6;
                order: -6; }
      footer .menu li:nth-child(2) {
        -webkit-box-ordinal-group: -2;
            -ms-flex-order: -3;
                order: -3; }
      footer .menu li:nth-child(3) {
        -webkit-box-ordinal-group: -4;
            -ms-flex-order: -5;
                order: -5; }
      footer .menu li:nth-child(5) {
        -webkit-box-ordinal-group: -1;
            -ms-flex-order: -2;
                order: -2; }
      footer .menu li:nth-child(6) {
        -webkit-box-ordinal-group: -3;
            -ms-flex-order: -4;
                order: -4; }
      footer .menu li:last-child {
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1; }
  footer .phone {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }
  .footer-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border: none; }
  .footer-box {
    border: none;
    margin: 0;
    padding: 0 33px 50px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .contacts-box {
    font-size: 16px; }
    .contacts-box h3, .contacts-box h4 {
      font-size: 18px;
      margin: 0 0 20px;
      line-height: normal; }
  .p-130 {
    padding: 70px 0; }
  .callback h2 {
    font-size: 70px;
    line-height: normal; }
  .subtitle {
    font-size: 34px;
    line-height: normal; }
  .callback-content {
    max-width: none;
    margin: 0 0 20px; }
    .callback-content .box-text {
      font-size: 18px;
      max-width: none; }
      .callback-content .box-text br {
        display: none; }
  .callback-box {
    max-width: none; }
  .reviews-box {
    padding: 23px 20px; }
    .reviews-box__photo {
      max-width: 150px; }
    .reviews-box__body {
      width: calc(100% - 150px);
      padding: 0 0 0 11px; }
    .reviews-box__company {
      margin: 0 0 20px; }
    .reviews-box .position {
      margin: 0 0 20px; }
    .reviews-box h3 {
      font-size: 24px; }
  .trust-us {
    padding: 0 0 90px; }
  .partners-slider .slick-list {
    margin: 0 -15px; }
  .partners-slider .slick-slide {
    padding: 0 15px; }
  .partners-section h3 {
    margin: 0 0 30px;
    font-size: 28px; }
  .title-wrapper__box h3 {
    font-size: 22px;
    line-height: normal; }
  .cases-item {
    padding: 40px 30px; }
    .cases-item h3 {
      font-size: 24px;
      min-height: 93px; }
  .item-hover {
    margin: auto auto -41px; }
  .stages-work {
    margin: 0 0 40px; }
  .competencies-box {
    padding: 20px; }
    .competencies-box__title {
      padding: 0 7px;
      font-size: 16px; }
  .partners-wrapper {
    margin: 40px 0; }
  .advantages-wrapper {
    padding: 30px 20px 30px 0; }
  .btn-download {
    max-width: 110px; }
  .home-content h3 {
    font-size: 40px; }
  .advantages-box {
    font-size: 16px; }
    .advantages-box__number {
      font-size: 80px; }
    .advantages-box p {
      padding: 0 0 0 10px; }
  .logo-arrow {
    max-width: 100px; }
  .header-box {
    padding: 0 20px; }
  header .menu {
    font-size: 14px; }
  header .list-social li {
    margin: 0 12px 0 0; }
  .subtitle-logo {
    font-size: 28px; }
  .stages-work-slider-item {
    width: 600px;
    height: 350px; }
    .stages-work-slider-item__icon {
      max-width: 100px; }
  .header-text {
    text-align: center; }
    .header-text p {
      max-width: 360px;
      margin: 0 auto; }
  .list-tags {
    font-size: 18px; }
    .list-tags li {
      margin: 0 30px 0 0; }
  .table-formats td:last-child, .table-formats td:nth-child(2), .table-formats th:last-child, .table-formats th:nth-child(2), .formats .title-wrapper__box, .stages-work-v2 .title-wrapper__box {
    width: 300px; }
  .stages-work-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .stages-work-box {
    width: calc(33.3% - 20px); }
    .stages-work-box:nth-child(3) .icon-arrow {
      display: none; }
  .home-page h1 {
    margin: 0 0 20px 100px;
    font-size: 60px; }
  .home-title {
    padding: 40px 0; }
    .home-title .description-text {
      max-width: 400px; }
  .callback-touch .mail {
    font-size: 50px; }
  .callback-touch .callback-content {
    max-width: 500px; }
  .touch-social {
    max-width: 400px;
    height: 450px; }
  .tg-link {
    width: 120px;
    height: 120px; }
  .in-link {
    width: 135px;
    height: 135px;
    left: 145px; }
  .habr-link {
    top: 119px;
    left: 150px; }
  .vk-link {
    width: 100px;
    height: 100px; }
  .vc-link {
    width: 120px;
    height: 120px;
    top: 80px; }
  .rutube-link {
    bottom: 90px;
    width: 90px;
    height: 90px; }
  .dzen-link {
    left: 80px;
    width: 95px;
    height: 95px; }
  .cases-section-head .list-tags li {
    margin: 0 20px 10px 0; }
    .cases-section-head .list-tags li:last-child {
      margin: 0 0 10px; }
  .cases-row:hover .cases-row__body {
    padding: 30px 0 0; }
  .cases-row:hover .box-text {
    margin: 20px 0 0; }
  .cases-row .item-hover {
    position: relative;
    right: 0;
    margin: 30px auto 0; }
  .cases-row__content {
    max-width: none; }
  .cases-row__title, .cases-row .name-project {
    font-size: 24px; }
  .home-page-accent h1 {
    margin: 0 0 2px;
    font-size: 40px; }
  .home-page-accent .home-title {
    padding: 30px 0 30px 100px; }
  .stacks {
    font-size: 18px; }
  .competencies-description-item__body {
    padding: 0; }
  blockquote {
    margin: 50px 0 0; }
  .blockquote-content {
    padding: 0 0 0 70px; }
    .blockquote-content:before {
      font-size: 80px;
      left: 0; }
  .case-box-row__image {
    width: 240px;
    min-width: 240px;
    height: 240px; }
  .case-box-row h3 {
    font-size: 20px;
    margin: 0 0 20px; }
  .maps-location-box {
    max-width: 450px; }
    .maps-location-box h2 {
      max-width: 320px; }
  .maps-location-markers {
    padding: 0 0 0 138px; }
    .maps-location-markers .logo-company {
      max-width: 200px;
      margin: 0 auto 20px; }
  .marker-icon {
    max-width: 70px; }
    .marker-icon:before {
      width: 360px;
      height: 190px;
      bottom: -65px;
      right: 30px; } }

@media only screen and (max-width: 992px) {
  header .menu, header .header-box {
    display: none; }
  header .logo-arrow {
    padding: 20px 0; }
  .btn-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto 0 auto auto; }
  .header-wrapper {
    min-height: auto; }
  .header-box {
    width: 100%;
    padding: 12px;
    margin: 30px 0 0;
    border: none;
      border-top: 0.35px solid rgba(255, 194, 0, 0.7); }
    .header-box .list-social {
      margin: 0 auto;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .header-box .list-social li {
        margin: 0 38px 0 0; }
        .header-box .list-social li:last-child {
          margin: 0; }
  .title-wrapper {
    padding: 0; }
    .title-wrapper h2 {
      margin: 0; }
    .title-wrapper__box {
      border: none;
        border-left: 0.5px solid #000;
      min-height: auto;
      margin: 0;
      padding: 15px 0;
      width: 100%; }
  .contacts {
    margin: 0; }
    .contacts .title-wrapper h2 {
      margin: 13px 0 20px; }
    .contacts .title-wrapper__box {
      height: 100%;
      margin: 0 0 0 auto;
      padding: 33px 0 33px 15px;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      border: none;
        border-left: 0.5px solid #000000; }
    .contacts .title-wrapper {
      margin: 0; }
    .contacts .list-social {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }
      .contacts .list-social li {
        margin: 0 0 16px; }
        .contacts .list-social li:last-child {
          margin: 0; }
        .contacts .list-social li a {
          width: 40px;
          height: 40px;
          min-width: 40px; }
  .contacts-box-col {
    margin-bottom: 0;
    margin-top: 30px; }
  .contacts-box-center, .contacts-box-end {
    margin: 0; }
  .contacts-box {
    line-height: normal; }
    .contacts-box h3, .contacts-box h4 {
      margin: 0 0 4px; }
    .contacts-box p {
      margin: 0 0 20px; }
    .contacts-box a {
      margin: 0 0 3px; }
  footer .menu {
    line-height: 1.4; }
  h2 {
    font-size: 30px; }
  .subtitle {
    font-size: 28px; }
  .callback h2 {
    font-size: 50px; }
  .reviews {
    padding: 0 0 70px; }
    .reviews .links-bottom {
      margin: 0 auto; }
    .reviews .title-wrapper__box {
      border: none;
      padding: 0;
      width: auto;
      margin: 0; }
    .reviews .link-arrow-wrapper {
      margin: 0 0 0 auto; }
  .reviews-slider {
    margin: 50px 0 0; }
  .trust-us {
    padding: 0 0 60px; }
    .trust-us h2 {
      padding: 13px 0 15px; }
    .trust-us .title-wrapper__box {
      padding: 14px 0;
      position: relative;
      border: none; }
      .trust-us .title-wrapper__box:before {
        content: '';
        position: absolute;
        top: 0;
        width: calc(100% + 30px);
        height: 0.5px;
        background: #000;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
                transform: translate(-50%, 0); }
  .partners-section {
    margin: 30px 0 0; }
    .partners-section h3 {
      font-size: 24px; }
  .cases h2 {
    width: calc(100% - 80.5px);
    padding: 13px 18px 18px;
    margin: 0 auto 0 0; }
  .cases .links-bottom {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); }
  .cases .title-wrapper__box {
    border: none;
    padding: 13px 17px;
    position: relative; }
    .cases .title-wrapper__box:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      width: calc(100% + 30px);
      height: .5px;
      background: #000; }
  .title-wrapper__box {
    border: none;
    width: auto;
    margin: 0;
    padding: 0; }
  .links-bottom {
    width: 60px;
    height: 60px;
    min-width: 60px;
    padding: 15px;
    margin: 0; }
  .link-arrow-wrapper {
    margin: auto;
    width: auto;
    padding: 10px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-left: 0.5px solid #000000; }
  .competencies .link-arrow-wrapper {
    margin: 0 0 0 auto; }
  .stages-work h2 {
    padding: 9px 0 9px 18px;
    border: none;
    width: calc(100% - 80.5px);
    margin: 0 auto 0 0; }
  .stages-work .links-right {
    margin: 0; }
  .stages-work .title-wrapper__box {
    width: calc(100% + 34px);
    margin: 0 -17px; }
  .links-right {
    width: 60px;
    height: 60px;
    min-width: 60px;
    padding: 15px; }
  .competencies-box {
    width: 50%; }
    .competencies-box h3 {
      min-height: auto; }
  .advantages-wrapper {
    border: none;
    padding: 30px 20px; }
  .home {
    padding: 60px 0 0; }
    .home .logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin: 0 auto; }
  .home-page {
    padding: 0; }
    .home-page .header-box {
      margin: 0; }
    .home-page h1 {
      margin: 0 0 20px;
      font-size: 50px; }
    .home-page .description-text {
      margin: 0;
      max-width: none; }
  .home-button-animate {
    width: 90px;
    border: none;
    position: relative; }
    .home-button-animate .btn-download {
      position: relative;
      right: 0;
      top: 0; }
  .home-title {
    width: calc(100% - 90px);
    padding: 30px 10px;
    border: none; }
  .subtitle-logo {
    text-align: center;
    margin: 10px auto 0; }
  .home-content {
    text-align: center;
    padding: 23px 18px 0;
    margin: 25px 0 0;
    position: relative; }
    .home-content:before {
      content: '';
      position: absolute;
      width: calc(100% + 30px);
      height: 0.35px;
      background: rgba(255, 194, 0, 0.7);
      left: 50%;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0); }
    .home-content:before {
      top: 0; }
    .home-content h3 {
      font-size: 30px;
      margin: 0 0 30px;
      text-align: left;
      font-weight: 500;
      padding: 0 120px 0 0; }
    .home-content .btn {
      margin: 0 auto;
      padding: 15px 50px;
      font-size: 16px; }
  .btn-download {
    position: absolute;
    top: 22px;
    right: 18px;
    width: 90px;
    height: 90px; }
  .advantages {
    margin: 0; }
  .category-work-item {
    border-top: 0.75px solid #000; }
  .stages-work-slider .slide {
    margin: 0 10px; }
  .stages-work-slider-item {
    width: 500px; }
  .header-text {
    width: calc(100% - 59px);
    text-align: left;
    padding: 16px 18px;
    margin: 0 auto 0 0;
    border-right: 0.35px solid rgba(255, 194, 0, 0.7); }
    .header-text p {
      margin: 0; }
  .community-item .item-hover {
    width: calc(100% - 10px); }
  .community .links-bottom {
    margin: 0 auto; }
  .community .link-arrow-wrapper {
    margin: 0 0 0 auto; }
  .news h2 {
    padding: 15px 0;
    margin: 0 auto 0 0;
    width: calc(100% - 80.5px); }
  .cases .line-wrapper {
    margin: 0 0 40px; }
  .list-tags {
    margin: 0 0 20px;
    width: 100%; }
    .list-tags li a {
      padding: 0 0 10px; }
  .table-formats td:last-child, .table-formats td:nth-child(2), .table-formats th:last-child, .table-formats th:nth-child(2) {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }
  .table-formats thead th {
    padding: 20px;
    font-size: 14px; }
    .table-formats thead th:first-child {
      padding: 20px; }
  .table-formats tbody p {
    font-size: 18px; }
  .table-formats h3 {
    font-size: 18px; }
  .table-formats__icon {
    height: 40px; }
    .table-formats__icon img {
      max-height: 100%; }
  .formats {
    margin: 0 0 60px; }
    .formats .title-wrapper {
      padding: 20px 0; }
    .formats .title-wrapper__box {
      display: none; }
  .stages-work-v2 .title-wrapper__box {
    width: 80.5px;
    padding: 0;
    border: none; }
  .media-section {
    padding: 60px 0 70px; }
    .media-section .line-wrapper {
      margin: 0 0 20px; }
  .callback-touch {
    padding: 70px 0; }
    .callback-touch .callback-content {
      max-width: 330px; }
    .callback-touch .mail {
      font-size: 30px; }
  .cases-section-head {
    padding: 40px 0; }
    .cases-section-head .list-tags {
      margin: 0 0 30px; }
  .cases-row__footer {
    padding: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 170px;
    right: -15px; }
  .cases-row__body {
    width: calc(100% - 170px); }
  .home-page-accent .header-box {
    border-color: #000; }
  .home-page-accent .home-title {
    padding: 30px 0; }
  .home-page-accent h1 {
    font-size: 30px; }
  .competencies-description {
    margin: 60px 0; }
  .competencies-description-item__head {
    margin: 0 0 30px; }
  .competencies-description-item__body {
    padding: 0; }
  .competencies-description-item .box-text {
    font-size: 20px; }
  .blockquote-content {
    max-width: none;
    line-height: normal; }
  blockquote {
    font-size: 16px;
    margin: 30px 0 0; }
  .blockquote-author {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: 0 auto 20px; }
  .tools-box {
    padding: 30px; }
  .tools-wrapper {
    margin: 40px 0; }
  .case-box-row .box-text {
    max-width: none; }
  .case-box-row br {
    display: none; }
  .btn-all-cases {
    margin: 0 auto; }
  .home-location-icon {
    max-width: 50px; }
  .home-page-contacts h1 {
    margin: 0; }
  .reasons-write .title-wrapper {
    padding: 20px 0; }
  .reasons-write-wrapper {
    margin: 0 0 40px; }
  .maps-location-box {
    max-width: 380px; }
    .maps-location-box h2 {
      line-height: normal;
      max-width: 240px; }
      .maps-location-box h2 img {
        max-width: 30px; } }

@media only screen and (max-width: 768px) {
  .mb-40 {
    margin-bottom: 30px; }
  input, textarea, select {
    padding: 15px 20px 5px;
    height: 50px; }
  textarea {
    height: 120px; }
  .btn {
    font-size: 16px;
    padding: 8px 30px; }
  .label-file {
    padding: 20px;
    margin: 0 0 20px; }
  .community-item h3 {
    font-size: 28px;
    margin: 0 0 20px; }
  .slider-nav {
    margin: 40px 0 0; }
  .section-wrapper {
    padding: 60px 0; }
  .community-item__logo {
    margin: 0 0 30px; }
  .news-card__img {
    height: 220px; }
  .news-card__body {
    padding: 30px; }
  .news-card h3 {
    font-size: 20px; }
  .news {
    padding: 0 0 60px; }
  .cases-item h3 {
    min-height: auto;
    margin: 0 0 20px; }
  .cases-item .box-text {
    font-size: 16px; }
  .advantages-box {
    width: 33.3%;
    margin: 0; }
    .advantages-box__number {
      font-size: 50px; }
    .advantages-box p {
      padding: 0 0 0 6px; }
  .partners-wrapper {
    margin: 17px 0 25px; }
    .partners-wrapper .partners-box {
      height: 23px;
      padding: 0 5px; }
    .partners-wrapper .partners-box-js {
      height: 23px; }
  .stages-work-slider-item {
    width: 300px;
    height: 220px; }
    .stages-work-slider-item__icon {
      max-width: 60px; }
  .contacts-box-col {
    margin-bottom: 0; }
    .contacts-box-col:last-child {
      margin-bottom: 39px; }
  .reviews {
    padding: 0 0 50px; }
  .stages-work-box {
    width: calc(50% - 20px); }
    .stages-work-box:nth-child(3) .icon-arrow {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .stages-work-box:nth-child(4) .icon-arrow, .stages-work-box:nth-child(2) .icon-arrow {
      display: none; }
    .stages-work-box:last-child {
      width: 100%; }
    .stages-work-box__number {
      font-size: 90px; }
  .stages-work-wrapper {
    margin: 50px 0 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .callback-touch .callback-content {
    max-width: none;
    padding: 0; }
  .callback-touch h2 br {
    display: none; }
  .callback-touch .box-text {
    margin: 20px 0 10px; }
  .callback-touch .mail {
    font-size: 24px; }
  .touch-social {
    margin: 0 auto;
    width: 100%;
    max-width: none;
    height: auto; }
    .touch-social .list-social li {
      width: 50px;
      min-width: 50px;
      height: 50px;
      position: relative;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      margin: 0 10px 10px 0; }
      .touch-social .list-social li:last-child {
        margin: 0 0 10px; }
  .cases-section {
    margin: 0 0 50px; }
  .see-more {
    margin: 0 0 80px; }
  .reasons-write-wrapper {
    margin: 0; }
  .maps-location-markers {
    display: none; }
  .maps-location {
    padding: 100px 0; } }

@media only screen and (max-width: 576px) {
  .contacts .title-wrapper {
    padding: 13px 0; }
    .contacts .title-wrapper .container {
      padding: 0 33px; }
    .contacts .title-wrapper h2 {
      margin: 0; }
  .contacts .list-social li a {
    width: 22px;
    height: 22px;
    min-width: 22px; }
  .contacts-box {
    font-size: 12px;
    padding: 0 0 0 18px; }
    .contacts-box h3, .contacts-box h4 {
      font-size: 12px; }
  .callback-wrapper {
    padding: 0; }
  .p-130 {
    padding: 50px 0; }
  .callback {
    padding: 41px 0 39px; }
    .callback h2 {
      font-size: 50px; }
  .callback-content {
    margin: 0 0 25px;
    padding: 0 18px; }
    .callback-content .box-text {
      font-size: 14px; }
  .subtitle {
    font-size: 33px; }
  h2 {
    font-size: 30px; }
  .community-item__logo {
    height: auto; }
  .category-work-item {
    width: 100%;
    height: auto; }
  .competencies-wrapper {
    margin: 40px 0 0; }
  .advantages-box {
    width: 33.3%; }
    .advantages-box p {
      padding: 0; }
  .advantages-wrapper {
    padding: 10px 18px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .subtitle-logo, .home-content h3 {
    font-size: 22px; }
  .home {
    padding: 33px 0 0; }
    .home .logo {
      max-width: 244px; }
  .subtitle-logo {
    max-width: 244px; }
  .btn-download {
    width: 74px;
    height: 74px; }
    .btn-download img {
      max-width: 16px; }
  .home-content h3 {
    padding: 0;
    max-width: 200px; }
  .trust-us {
    padding: 0 0 30px; }
  .trust-us-slider {
    margin: 0; }
    .trust-us-slider .mb-40 {
      margin: 0 auto; }
  .list-tags li {
    margin: 0 20px 10px 0; }
    .list-tags li:last-child {
      margin: 0 0 10px; }
  .home-button-animate {
    width: 74px; }
  .home-title {
    width: calc(100% - 74px); }
  .home-page {
    padding: 0; }
    .home-page h1 {
      font-size: 30px; }
    .home-page .description-text {
      font-size: 14px; }
  .media-section .line-wrapper {
    margin: 0; }
  .media-section .news-card {
    max-width: none; }
  .mb-54 {
    margin: 0 0 30px; }
  .media-section {
    padding: 50px 0 60px; }
  .cases-row__footer {
    width: 90px; }
    .cases-row__footer .links-right {
      width: 50px;
      height: 50px;
      min-width: 50px;
      padding: 10px; }
  .cases-row__body {
    width: calc(100% - 90px); }
  .cases-row .item-hover {
    max-width: 300px;
    height: 180px; }
  .competencies-description-item__body .box-text {
    font-size: 14px; }
    .competencies-description-item__body .box-text p {
      margin: 0 0 20px; }
  .tools-box {
    width: 100%;
    margin: 0 0 -.75px;
    font-size: 14px; }
  .blockquote-content {
    padding: 0 0 0 30px; }
    .blockquote-content:before {
      font-size: 50px;
      top: -65px; }
  .case-box-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .case-box-row__image {
      margin: 0 auto 20px; }
    .case-box-row__content {
      padding: 0;
      width: 100%; }
  .see-more {
    margin: 0 0 50px; }
  .maps-location {
    padding: 0; }
  .map {
    position: relative;
    height: 300px; }
  .maps-location-box {
    max-width: none;
    padding: 0;
    margin: 0 0 20px; }
    .maps-location-box h2 {
      max-width: none;
      margin: 0 0 30px; }
      .maps-location-box h2 img {
        max-width: 20px;
        margin: 0 0 0 10px; }
    .maps-location-box .contacts-box {
      padding: 0; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 480px) {
  .title-wrapper__box {
    font-size: 14px; }
    .title-wrapper__box h3 {
      font-size: 16px; }
  .links-bottom {
    width: 29px;
    height: 29px;
    padding: 8px;
    min-width: 29px;
    border-width: 0.5px; }
  .link-arrow-wrapper {
    width: 59px;
    height: 59px;
    margin-right: -15px;
    padding: 5px; }
  .form-group .checkbox {
    font-size: 6px;
    max-width: 100px; }
  .checkbox-custom {
    width: 8px;
    height: 8px;
    min-width: 8px;
    margin: 0 5px 0 0; }
  .quote {
    padding: 0 0 0 30px; }
    .quote:before {
      width: 25px;
      height: 25px; }
  .header-box {
    display: none; }
    .header-box .list-social li a {
      width: 30px;
      height: 30px;
      min-width: 30px; }
  .header-text {
    padding: 13.5px 0 13.5px 18px;
    font-size: 12px;
    width: calc(100% - 44px); }
    .header-text p {
      max-width: 265px; }
  .btn-burger {
    width: 38px;
    height: 42px;
    padding: 16px 10px;
    margin: auto -5px auto auto; }
  .header-wrapper {
    min-height: auto; }
  .item-hover__img {
    height: 120px; }
  .item-hover__img-icon {
    max-width: 50px; }
  footer .logo img {
    max-width: 82px; }
  footer .menu {
    font-size: 12px; }
  footer .phone {
    font-size: 16px;
    padding: 12px 18px 12px 24px; }
  .callback-box {
    padding: 30px; }
  input, textarea, select {
    font-size: 8px;
    height: 23px;
    padding: 10px 8px 5px; }
  textarea {
    height: 65px;
    padding: 10px 8px; }
  label {
    margin: 0 0 7px; }
  .label-file {
    margin: 0 0 15px;
    padding: 7px 7px 9px; }
    .label-file strong {
      font-size: 8px; }
    .label-file__text span {
      font-size: 8px;
      max-width: 180px; }
  .btn {
    padding: 4.5px 23px;
    font-size: 9px; }
  .form-callback button {
    padding: 4.5px 23px; }
  h2 {
    font-size: 18px; }
  .advantages-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px 22px;
    width: 100%; }
  margin: 15px auto;
  .advantages-box {
    font-size: 11px;
    max-width: 62px;
    width: 100%; }
    .advantages-box__number {
      font-size: 40px; }
    .advantages-box p {
      max-width: 75px; }
  .advantages-box_two {
    margin-left: -20px; }
    .advantages-box_two .home .logo {
      max-width: none;
      padding: 0 18px; }
    .advantages-box_two .subtitle-logo {
      max-width: none; }
    .advantages-box_two .header-box .list-social {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding: 0 10px; }
    .advantages-box_two .home-content {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .advantages-box_two .home-content .btn-download {
        position: relative;
        top: 0;
        right: 0;
        min-width: 73px;
        margin: 0; }
      .advantages-box_two .home-content .btn {
        margin-bottom: 20px;
        padding: 9px 20px;
        font-size: 15px;
        max-width: none;
        width: 100%;
        height: 40px; }
        .advantages-box_two .home-content .btn h3 {
          font-size: 20px;
          line-height: 24px;
          max-width: 135px;
          margin: 0 auto 30px 0; }
    .advantages-box_two .subtitle-logo {
      padding: 0 18px;
      margin: 10px auto 0; }
    .advantages-box_two .title-wrapper h2 {
      padding-left: 20px; }
    .advantages-box_two .competencies-wrapper {
      margin: 0 -15px;
      width: calc(100% + 30px); }
    .advantages-box_two .competencies-box {
      padding: 22px 25px;
      width: 100%;
      border: none;
        border-bottom: 0.75px solid #000000;
      margin: 0; }
      .advantages-box_two .competencies-box h3 {
        font-size: 16px;
        margin: 24px 0 11px;
        padding: 0 11px; }
      .advantages-box_two .competencies-box .box-text {
        font-size: 14px;
        padding: 14px 11px 5px; }
      .advantages-box_two .competencies-box:before {
        width: 14px;
        height: 14px; }
    .advantages-box_two .competencies .title-wrapper__box, .advantages-box_two .reviews .title-wrapper__box, .advantages-box_two .community .title-wrapper__box {
      margin: 0 -15px 0 auto; }
    .advantages-box_two .links-right {
      width: 30px;
      min-width: 30px;
      height: 30px;
      padding: 8px;
      border: 0.5px solid #000000; }
    .advantages-box_two .stages-work {
      margin: 0 0 20px; }
      .advantages-box_two .stages-work h2 {
        width: calc(100% - 45px); }
    .advantages-box_two .category-work-item {
      padding: 24px 34px 35px;
      font-size: 14px;
      margin: 0;
      border: none;
        border-top: 0.75px solid #000; }
      .advantages-box_two .category-work-item h3 {
        font-size: 16px;
        margin: 0 0 10px; }
      .advantages-box_two .category-work-item:before {
        top: 20px;
        right: 18px;
        width: 14px;
        height: 14px; }
    .advantages-box_two .stages-work-slider {
      margin: 20px 0 0; }
      .advantages-box_two .stages-work-slider .slide {
        margin: 0;
        padding: 0 15px; }
    .advantages-box_two .stages-work-slider-item {
      width: 100%;
      height: 190px; }
    .advantages-box_two .stages-work-slider-item__icon {
      max-width: 54px; }
    .advantages-box_two .slider-nav {
      margin: 20px 0 0; }
    .advantages-box_two .slick-dots li {
      width: 3px;
      height: 3px;
      margin: 0 4px 0 0; }
    .advantages-box_two .slick-arrow {
      width: 17px;
      height: 12px; }
    .advantages-box_two .section-wrapper {
      padding: 10px 0 32px; }
      .advantages-box_two .section-wrapper .slider-nav {
        margin: 28px 0 0; }
    .advantages-box_two .cases h2 {
      width: calc(100% - 45px); }
    .advantages-box_two .cases .title-wrapper__box h3 {
      font-size: 14px; }
    .advantages-box_two .cases-item {
      min-height: 256px;
      padding: 20px 36px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .advantages-box_two .cases-item h3 {
        font-size: 20px;
        margin: 0 0 14px; }
      .advantages-box_two .cases-item .box-text {
        font-size: 14px; }
      .advantages-box_two .cases-item:hover {
        padding-top: 20px; }
    .advantages-box_two .trust-us {
      padding: 0 0 39px; }
      .advantages-box_two .trust-us .title-wrapper {
        margin: 0 0 24px; }
      .advantages-box_two .trust-us .title-wrapper__box {
        font-size: 14px;
        padding: 13px 18px; }
    .advantages-box_two .trust-us-box {
      max-width: none;
      margin: 0 auto;
      font-size: 14px; }
      .advantages-box_two .trust-us-box .position {
        min-height: auto; }
      .advantages-box_two .trust-us-box__body {
        padding: 23px 25px 26px; }
      .advantages-box_two .trust-us-box h3 {
        font-size: 16px;
        margin: 0 0 13px; }
      .advantages-box_two .trust-us-box__footer {
        padding: 18px 0 0;
        margin: 13px 0 0; }
    .advantages-box_two .links-contacts {
      width: 28px;
      height: 28px;
      min-width: 28px;
      margin: 0 0 0 17px;
      padding: 7px; }
    .advantages-box_two .partners-section h3 {
      margin: 0 0 20px;
      font-size: 18px;
      padding-left: 18px; }
    .advantages-box_two .reviews {
      padding: 0 0 30px; }
    .advantages-box_two .reviews-slider {
      margin: 34px 0 0; }
    .advantages-box_two .reviews-box__photo {
      max-width: 90px; }
    .advantages-box_two .reviews-box__body {
      width: calc(100% - 90px); }
    .advantages-box_two .reviews-box__company {
      margin: 0 0 11px;
      font-size: 14px; }
    .advantages-box_two .reviews-box h3 {
      font-size: 16px;
      margin: 0 0 10px; }
    .advantages-box_two .reviews-box .position {
      font-size: 14px;
      margin: 0 0 6px; }
    .advantages-box_two .quote {
      padding: 0 0 0 17px;
      font-size: 14px;
      line-height: normal;
      max-height: 54px;
      overflow: hidden; }
      .advantages-box_two .quote:before {
        width: 12px;
        height: 12px; }
    .advantages-box_two .link-modal-reviews {
      display: block; }
    .advantages-box_two .news {
      padding: 0 0 70px; }
      .advantages-box_two .news h2 {
        width: calc(100% - 45px); }
    .advantages-box_two .news-slider {
      margin: 20px 0 0; }
    .advantages-box_two .news-card__img {
      height: 150px; }
    .advantages-box_two .news-card__body {
      height: calc(100% - 150px);
      padding: 25px 30px 32px; }
      .advantages-box_two .news-card__body:before {
        width: 14px;
        height: 14px;
        top: 16px;
        right: 18px; }
    .advantages-box_two .news-card__date {
      margin: 30px 0 0;
      font-size: 14px; }
    .advantages-box_two .news-card .box-text {
      font-size: 14px;
      line-height: normal; }
    .advantages-box_two .news-card h3 {
      font-size: 16px;
      margin: 0 0 10px; }
    .advantages-box_two .community .section-wrapper {
      padding: 26px 0 16px; }
    .advantages-box_two .community-item {
      padding: 40px 45px 20px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      font-size: 14px;
      line-height: normal; }
      .advantages-box_two .community-item:hover {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding-top: 50px; }
    .advantages-box_two .contacts .title-wrapper h2 {
      padding: 0; }
    .advantages-box_two .cases .line-wrapper {
      margin: 30px 0; }
    .advantages-box_two .list-tags {
      margin: 0; }
    .advantages-box_two .stages-work-v2 .title-wrapper__box {
      width: 45px;
      margin: 0; }
    .advantages-box_two .stages-work-box {
      width: 100%; }
      .advantages-box_two .stages-work-box:nth-child(3) .icon-arrow {
        display: none; }
      .advantages-box_two .stages-work-box .icon-arrow {
        display: none; }
      .advantages-box_two .stages-work-box__number {
        font-size: 70px; }
    .advantages-box_two .cases-row .box-text {
      font-size: 14px; }
    .advantages-box_two .cases-row__title, .advantages-box_two .cases-row .name-project {
      font-size: 20px; }
    .advantages-box_two .cases-row__body {
      padding: 20px 0; }
    .advantages-box_two .cases-row__footer {
      padding: 20px 10px; }
    .advantages-box_two .cases-section-head .list-tags {
      margin: 0 0 20px; }
      .advantages-box_two .cases-section-head .list-tags:last-child {
        margin: 0; }
    .advantages-box_two .list-tags {
      font-size: 16px; }
    .advantages-box_two .cases-section {
      margin: 0 0 30px; }
    .advantages-box_two .home-page-accent h1 {
      font-size: 26px; }
    .advantages-box_two .stacks {
      font-size: 16px; }
  .case-box-row__image {
    width: 200px;
    height: 200px;
    min-width: 200px; }
    .case-box-row__image img {
      max-width: 80px; }
  .case-box-row .box-text {
    font-size: 14px; } }

@media only screen and (max-width: 420px) {
  .form-group label {
    width: 100%; } }

@media only screen and (min-width: 480px) {
  .competencies-box:hover {
    background: #FFFFFF; }
    .competencies-box:hover:before {
      opacity: 1; }
    .competencies-box:hover .box-text {
      background: #FFC200; }
    .competencies-box:hover .icon-decor:before {
      opacity: 1; } }
