@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  background: #fff;
  color: #000000; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none; }
  a:hover, a:focus {
    text-decoration: none; }

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 26px 20px 10px;
  color: #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 53px;
  border: 0.75px solid #000000;
    border-radius: 0;
  background: #fff; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: #808080; }
  input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    color: #808080; }
  input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
    color: #808080; }
  input::placeholder, textarea::placeholder, select::placeholder {
    color: #808080; }
  input:hover, textarea:hover, select:hover {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

label {
  display: block;
  width: 100%;
  margin: 0 0 15px; }

textarea {
  width: 100%;
  height: 146px;
  padding: 26px 20px;
  resize: none; }

button, .btn {
  outline: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  border: none;
    border-radius: 0; }
  button:hover, button:focus, .btn:hover, .btn:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: none; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 12px 50px;
  border-radius: 25px;
  font-weight: 600;
  font-size: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }

.btn-accent {
  color: #000;
  background: #FFC200; }
  .btn-accent:hover {
    background: #000;
    color: #fff; }

.btn-sm {
  font-weight: normal;
  font-size: 14px;
  padding: 10px 41px; }

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%; }

strong, b {
  font-weight: bold;
  display: inline-block; }

.my-ul {
  list-style: none; }

.bg-grey {
  background: #EDEDED; }

.bg-accent {
  background: #FFC200; }

.color-accent {
  color: #FFC200; }

.container {
  max-width: 1635px; }

.mb-40 {
  margin-bottom: 40px; }

.p-130 {
  padding: 130px 0; }

h2 {
  width: 100%;
  font-size: 52px;
  font-weight: 600; }

.title-wrapper {
  border: 0.75px solid #000000; }
  .title-wrapper__box {
    width: calc(100% + 10px);
    height: 100%;
    padding: 60px 69px;
    min-height: 210px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 0 0 -10px;
    border-left: 0.75px solid #000000; }
    .title-wrapper__box h3 {
      font-size: 27px;
      line-height: 33px;
      max-width: 870px; }
  .title-wrapper h2 {
    margin: 0 auto 0 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }

.list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .list-social li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50px;
    height: 50px;
    min-width: 50px;
    border: none;
      border-radius: 50%;
    fill: #000; }
    .list-social li a:hover {
      background: #FFC200; }
    .list-social li a img {
      max-height: 100%; }

.label-file {
  position: relative;
  border: 1.5px dashed #808080;
  background: #E6E6E6;
  text-align: center;
  cursor: pointer;
  padding: 26px;
  color: #808080;
  margin: 0 0 34px; }
  .label-file strong {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #808080; }
  .label-file__text span {
    display: block;
    margin: 3px auto 0;
    max-width: 270px;
    width: 100%;
    font-size: 13px; }

.inp-file {
  display: none; }

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  font-size: 10px; }

.inp-check {
  display: none; }

.checkbox-custom {
  width: 17px;
  height: 17px;
  min-width: 17px;
  margin: 0 13px 0 0;
  border: 0.75px solid #000000;
  background: #fff;
  cursor: pointer; }

.inp-check:checked + .checkbox-custom {
  background: #FFC200; }

.links-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 82px;
  height: 82px;
  min-width: 82px;
  border-radius: 50%;
  fill: #fff;
  background: #FFC200;
  padding: 25px 30px; }
  .links-bottom:hover {
    background: #EDEDED; }

.links-bottom-grey {
  background: #EDEDED;
  fill: #BFBFBF;
  border: 1px solid #000; }
  .links-bottom-grey:hover {
    background: #FFC200;
    fill: #fff;
    border-color: #FFC200; }

.links-right {
  width: 82px;
  height: 82px;
  min-width: 82px;
  border: 1px solid #000;
    border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #BFBFBF;
  padding: 25px; }
  .links-right:hover {
    background: #FFC200;
    border-color: #FFC200;
    fill: #fff; }

.slider-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 60px 0 0; }
  .slider-nav .slick-dots {
    margin: 0 auto; }
  .slider-nav .slick-next {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }

.slick-slider {
  width: 100%; }

.slick-slide {
  outline: none; }

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none; }
  .slick-dots li {
    margin: 0 12px 0 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #000;
    cursor: pointer;
    -webkit-transition: .3s ease;
    transition: .3s ease; }
    .slick-dots li:last-child {
      margin: 0; }
    .slick-dots li button {
      display: none; }
  .slick-dots .slick-active {
    background: #FFC200; }

.slick-arrow {
  width: 29px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #000;
  opacity: 1;
  z-index: 1;
  position: relative;
  background: transparent;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  .slick-arrow:hover {
    fill: #FFC200; }

.line-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
