@import "vars"

/*==========  section home ==========*/
.home
  background: #000
  color: #fff
  padding: 80px 0 0

  .logo
    max-width: 491px
    margin: 0 auto 0 0
  // margin: 0 auto 0 20px

.subtitle-logo
  margin: 28px 0 0
  // margin: 28px 0 0 17px
  text-transform: uppercase
  font-weight: 600
  font-size: 49px
  text-align: right
  max-width: 491px

.home-content
  height: 100%
  display: flex
  flex-direction: column
  padding: 0 0 0 35px

  h3
    font-size: 65px
    text-transform: uppercase
    margin: auto 0

    span
      display: block

  .btn
    color: #000
    padding: 18px 46px
    font-size: 20px
    border-radius: 34px
    margin: 0 0 5px

    &:hover
      background: $grey


.advantages
  margin: 88px 0 0
  border-top: 0.35px solid rgba(#FFC200, .7)


.advantages-wrapper
  border-right: 0.35px solid rgba(#FFC200, .7)
  padding: 62px 120px 103px 20px
  display: flex
  align-items: flex-start

.advantages-box
  margin: 0 auto 0 0
  font-size: 18px
  width: fit-content
  color: #808080

  &__number
    color: #333333
    font-size: 127px
    line-height: 155px
    font-weight: 700
    margin: 0 0 -17px

  &:last-child
    margin: 0

    p
      padding: 0

  p
    padding-left: 16px

.btn-download
  display: flex
  align-items: center
  justify-content: center
  margin: auto
  position: relative
  width: 138px
  height: 138px

  &:before
    content: ''
    position: absolute
    left: 0
    top: 0
    background: url("../img/download-btn-bg.svg") no-repeat center
      size: 100%
    width: 100%
    height: 100%
    animation: rot 20s linear infinite

.btn-play-animate
  &:before
    background: url("../img/play-btn-bg.svg") no-repeat center
      size: 100%

@keyframes rot
  from
    transform: rotate(0)

  to
    transform: rotate(1turn)
/*==========  section home end  ==========*/



/*==========  section competencies ==========*/
.competencies
  .title-wrapper__box
    width: calc(100% + 15px)
    margin: 0 0 0 -15px

.competencies-wrapper
  margin: 60px 0 0
  display: flex
  align-items: stretch
  flex-wrap: wrap

.competencies-box
  width: 25%
  border: 0.75px solid #000000
  transition: .3s ease
  position: relative
  padding: 28px 32px 0
  margin: -0.75px
  background: $grey
  overflow: hidden

  &:before
    content: ''
    position: absolute
    right: 32px
    top: 28px
    width: 17px
    height: 17px
    background: url("../img/decor.svg") no-repeat center
      size: 100%
    opacity: 0

  .box-text
    padding: 17px 12px 35px
    font-size: 12px
    border-top: 1px solid #000
    height: 100%
    transition: .3s ease

  .competencies-box__title
    font-weight: 600
    font-size: 18px
    min-height: 44px
    margin: 15px 0 16px
    padding: 0 11px
    display: flex
    align-items: flex-end
    color: #000

    &:hover
      color: $accent

  &__icon
    display: flex
    align-items: center
    justify-content: flex-start
    margin: 0 0 0 11px
    height: 36px
    position: relative
    width: fit-content

    img
      max-height: 100%

.icon-decor
  &:before
    content: ''
    position: absolute
    background: $accent
    transition: .3s ease
    opacity: 0

.icon-decor1
  &:before
    width: 29px
    height: 14px
    left: 50%
    transform: translate(-50%, 0)
    bottom: 6px

.icon-decor2
  &:before
    width: 16px
    height: 18px
    left: 50%
    transform: translate(-50%, 0)
    top: 5px

.icon-decor3
  &:before
    width: 18.5px
    height: 21.5px
    background: url("../img/decor-icon3.svg") no-repeat center
      size: 100%
    top: 5px
    right: 4px

.icon-decor4
  &:before
    width: 15px
    height: 15px
    border-radius: 50%
    top: 50%
    transform: translate(0, -50%)
    right: 4.5px

.icon-decor5
  &:before
    width: 16px
    height: 18px
    background: url("../img/decor-icon5.svg") no-repeat center
      size: 100%
    top: 50%
    transform: translate(0, -50%)
    right: 5px

.icon-decor6
  &:before
    width: 15px
    height: 15px
    background: url("../img/decor-icon6.svg") no-repeat center
      size: 100%
    top: 10px
    left: 7px

.icon-decor7
  &:before
    width: 6px
    height: 13.5px
    bottom: 7.5px
    left: 1.5px

.icon-decor8
  &:before
    width: 16px
    height: 16px
    background: url("../img/decor-icon8.svg") no-repeat center
      size: 100%
    top: 50%
    transform: translate(-50%, -50%)
    left: 50%
    border-radius: 50%

.partners-wrapper
  margin: 62px 0 84px
  display: flex
  align-items: center
  justify-content: space-between
  width: 100%

  .partners-box
    height: 53px

    &:first-child
      margin-left: 0

    &:last-child
      margin-right: 0

  .partners-box-js
    height: 46px

.partners-box
  display: flex
  align-items: center
  justify-content: center
  opacity: .5
  max-width: 102px
  width: 100%
  filter: grayscale(100%)
  transition: all 0.2s

  &:hover
    filter: grayscale(0%)
    opacity: 1

/*==========  section competencies end  ==========*/


/*==========  section stages-work ==========*/
.stages-work
  margin: 0 0 70px

  .title-wrapper
    overflow: hidden

  .title-wrapper__box
    padding: 0
    border: none

    &:before
      display: none


.category-work-item
  width: 50%
  height: 100%
  position: relative
  transition: .3s ease
  border: 0.75px solid #000000
    bottom: none
    top: none
  padding: 66px 40px 57px 72px
  background: #fff
  margin: -0.375px
  color: #000000

  &:before
    content: ''
    position: absolute
    right: 36px
    top: 39px
    width: 17px
    height: 17px
    background: url("../img/decor.svg") no-repeat center
      size: 100%
    opacity: 0

  &:hover
    background: $accent
    color: #000000

    &:before
      opacity: 1

  h3
    margin: 0 0 16px
    font-weight: bold
    font-size: 34px

.stages-work-slider
  width: 100%
  margin: 46px 0 0

  .slide
    margin: 0 48px
    opacity: .5
    filter: grayscale(100%)
    transition: all 0.2s

    &:hover
      opacity: 1
      filter: grayscale(0%)

.stages-work-slider-item
  width: 924px
  height: 471px
  display: flex
  align-items: center
  justify-content: center
  overflow: hidden
  background: #EDEDED

  &__icon
    max-width: 170px
    opacity: .2


.stages-work-wrapper
  margin: 100px 0 0
  width: 100%
  display: flex
  align-items: flex-start
  flex-wrap: wrap
  justify-content: space-between
  //h3
  //  width: 100%
  //  margin: 0 0 72px
  //  font-size: 34px
  //  font-weight: bold

.stages-work-v2
  .title-wrapper
    background: #EDEDED

  .title-wrapper__box
    border-left: 0.75px solid #000000
    padding: 60px 69px
    width: 602px

  .links-bottom
    fill: #000


.stages-work-box
  width: calc(20% - 30px)
  margin: 0 0 40px

  &__head
    width: 100%
    padding: 0 20px 27px
    border-bottom: 1px solid #000

  &__number
    font-size: 126px
    font-weight: bold
    color: $accent
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%

  h4
    font-size: 18px
    font-weight: bold
    min-height: 36px
    line-height: 18px

  .btn
    padding: 17px 12px
    font-size: 18px
    width: 100%
    border-radius: 35px
    margin: 57px 0 0

  .box-text
    font-size: 18px
    max-width: 244px

    p
      margin: 0 0 42px

      &:last-child
        margin: 0

    strong
      display: block

  &__body
    padding: 20px 20px 0

/*==========  section stages-work end  ==========*/

/*==========  section cases ==========*/
.cases
  .line-wrapper
    margin: 0 0 63px

.list-tags
  display: flex
  align-items: center
  flex-wrap: wrap
  font-size: 22px
  margin: 0 auto 0 0

  li
    margin: 0 88px 0 0

    &:last-child
      margin: 0

    a
      color: #000
      position: relative
      padding: 0 0 14px

      &:before
        content: ''
        position: absolute
        left: 0
        bottom: 0
        width: 60px
        height: 3px
        background: $accent
        opacity: 0

      &.active
        font-weight: bold

        &:before
          opacity: 1


.cases-slider
  .slick-track
    display: flex
    align-items: stretch

  .slick-slide
    height: auto

  .slick-current
    .cases-item
      border-left: 0.75px solid #000

.cases-item
  width: 100%
  height: 100%
  position: relative
  transition: .3s ease
  padding: 121px 53px 84px 72px
  border: 0.75px solid #000
    left: none
  display: flex
  flex-direction: column

  h3
    margin: 0 0 35px
    font-weight: bold
    font-size: 34px
    min-height: 124px

  .box-text
    font-size: 18px

  &:before
    content: ''
    position: absolute
    right: 36px
    top: 39px
    width: 17px
    height: 17px
    background: url("../img/decor.svg") no-repeat center
      size: 100%
    opacity: 0

  &:hover
    padding-top: 85px
    background: $accent

    &:before
      opacity: 1

    .item-hover
      display: block

    .box-text
      display: none


.item-hover
  max-width: 390px
  width: 100%
  margin: auto auto -85px
  background: #fff
  border: 0.75px solid #000000
  padding: 12px 11px 0
  display: none
  transition: .3s ease
  overflow: hidden

  &__head
    width: 100%
    display: flex
    align-items: center
    padding: 0 10px 9px
    border-bottom: 0.75px solid #000000

    &-close
      width: 6px
      height: 6px
      position: relative
      margin-left: auto

      &:before, &:after
        content: ''
        position: absolute
        left: 3px
        top: 0
        width: 1px
        height: 100%
        background: #000

      &:before
        transform: rotate(45deg)

      &:after
        transform: rotate(135deg)

    &-circle
      border: 0.75px solid #000000
        radius: 50%
      width: 6px
      height: 6px
      margin: 0 4px 0 0
      background: #fff

      &.bg-accent
        background: $accent

  &__body
    margin: 16px 0 0
    background: #EDEDED

.item-hover__img
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  height: 183px

  img
    width: 100%
    height: 100%
    object-fit: cover

  .item-hover__img-icon
    width: fit-content
    height: auto


.item-hover__img-icon
  opacity: .2
  max-width: 78px


/*==========  section cases end  ==========*/



/*==========  section trust-us ==========*/
.trust-us
  padding: 0 0 106px

  .title-wrapper
    margin: 0 0 68px

.partners-section
  margin: 50px 0 0

  h3
    margin: 0 0 48px
    font-size: 34px
    font-weight: bold

.partners-slider
  .slick-slide
    padding: 0 28px

  .slick-list
    margin: 0 -28px


.partners-box
  display: flex
  align-items: center
  justify-content: center
  height: 73px
  margin: 0 auto

  img
    max-height: 100%

.trust-us-box
  width: 100%
  height: 100%
  border: 0.75px solid #000000

  &__photo
    width: 100%
    height: 227px
    display: flex
    align-items: center
    justify-content: center
    background: #D9D9D9

  &__body
    width: 100%
    padding: 16px 25px 38px

  h3
    font-weight: 600
    font-size: 22px
    margin: 0 0 20px

  .position
    color: #7D7D7D
    min-height: 28px

  &__footer
    margin: 20px 0 0
    border-top: 0.75px solid #000000
    padding: 18px 0 0
    display: flex
    align-items: center
    flex-wrap: wrap
    justify-content: flex-end

.links-contacts
  display: flex
  align-items: center
  justify-content: center
  margin: 0 0 0 20px
  border: 0.75px solid #000000
    radius: 50%
  padding: 8px
  fill: #000
  width: 34px
  height: 34px
  min-width: 34px

  &:hover
    background: $accent


.links-contacts-mail
  fill: none
  stroke: #000

/*==========  section trust-us end  ==========*/



/*==========  section reviews ==========*/
.reviews
  padding: 0 0 98px

.reviews-slider
  margin: 107px 0 0

  .slick-track
    display: flex
    align-items: stretch

  .slick-slide
    padding: 0 12px
    height: auto

  .slick-list
    margin: 0 -12px

.reviews-box
  background: #fff
  height: 100%
  width: 100%
  display: flex
  align-items: flex-start
  padding: 62px 39px 61px 57px

  &__photo
    display: flex
    align-items: center
    justify-content: center
    width: 250px

  &__body
    width: calc(100% - 250px)
    padding: 0 0 0 32px

  &__company
    color: $accent
    margin: 0 0 40px

    &:hover
      color: #000

  h3
    margin: 0 0 20px
    font-size: 34px
    font-weight: bold

  .position
    color: #7D7D7D
    margin: 0 0 27px

.quote
  position: relative
  line-height: 18px
  padding: 0 0 0 54px

  &:before
    content: ''
    position: absolute
    left: 0
    top: 0
    width: 42px
    height: 41px
    background: url("../img/quote.svg") no-repeat center
      size: 100%


.link-modal-reviews
  margin: 13px 0 0 auto
  display: none
  text-decoration: underline
  font-size: 14px
  color: #808080
  text-align: right

/*==========  section reviews end  ==========*/


/*==========  section news ==========*/
.news
  padding: 0 0 90px

.news-slider
  margin: 60px 0 0

  .slick-slide
    padding: 0 36px

  .slick-list
    margin: 0 -36px


.news-card
  width: 100%
  background: #fff

  &__body
    width: 100%
    position: relative
    padding: 45px 65px 59px 50px

    &:before
      content: ''
      background: url("../img/decor.svg") no-repeat center
        size: 100%
      width: 17px
      height: 17px
      top: 28px
      right: 31px
      opacity: 0
      position: absolute

  .box-text
    font-size: 16px
    line-height: 18px

  h3
    margin: 0 0 18px
    font-weight: bold
    font-size: 22px

  &__img
    width: 100%
    height: 280px
    display: flex
    align-items: center
    justify-content: center

    img
      width: 100%
      height: 100%
      object-fit: cover

  &:hover
    .news-card__body
      &:before
        opacity: 1

  &__date
    margin: 50px 0 0
    text-align: right
    font-size: 16px
    font-weight: bold
    color: $accent


/*==========  section news end  ==========*/



/*==========  section community ==========*/
.community-slider
  .slick-track
    display: flex
    align-items: stretch

  .slick-slide
    height: auto

  .slick-current
    .community-item
      border-left: 0.75px solid #000


.section-wrapper
  width: 100%
  padding: 77px 0 82px
  background: url("../img/bg-cube.svg") no-repeat center
    size: cover

.community-item
  position: relative
  border: 0.75px solid #000
    left: none
  padding: 120px 74px 145px 72px
  line-height: 20px
  font-size: 18px
  transition: .3s ease
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  overflow: hidden

  &:before
    content: ''
    background: url("../img/decor.svg") no-repeat center
      size: 100%
    width: 17px
    height: 17px
    top: 39px
    right: 36px
    opacity: 0
    position: absolute

  h3
    font-weight: bold
    margin: 0 0 29px
    font-size: 34px

  .box-text
    max-width: 410px
    width: 100%
    transition: .3s ease

  &__logo
    display: flex
    align-items: center
    margin: 0 0 50px
    max-width: 265px
    height: 70px
    transition: .3s ease

    img
      max-width: 100%
      max-height: 100%

  .item-hover
    margin: 0
    position: absolute
    left: 50%
    bottom: 0
    transform: translate(-50%, 0)

  .item-hover__img
    height: 223px

  &:hover
    padding-top: 95px
    background: #FFC200

    .box-text
      display: none

    .item-hover
      display: block

    &:before
      opacity: 1

    .community-item__logo
      filter: brightness(0) invert(1)
      margin: 0 0 35px

/*==========  section community end  ==========*/


/*==========  section callback ==========*/
.callback
  h2
    font-size: 115px
    line-height: 103px
    font-weight: 900

.subtitle
  font-size: 75px
  font-weight: 600
  color: #fff
  line-height: 103px


.callback-wrapper
  width: 100%
  display: flex
  align-items: center
  flex-wrap: wrap
  padding: 0 156px 0 80px

  .box-text
    font-size: 48px
    line-height: 54px


.callback-content
  max-width: 610px
  width: 100%

.callback-box
  max-width: 656px
  width: 100%
  background: #fff
  margin: 0 0 0 auto
  padding: 67px

.form
  .btn-accent
    color: #fff

.form-callback
  button
    padding: 9.5px 50px

.form-group
  width: 100%
  margin: 0
  display: flex
  align-items: center
  flex-wrap: wrap
  justify-content: space-between

  label
    width: calc(50% - 7.5px)


/*==========  section callback end  ==========*/



/*==========  section contacts ==========*/
.contacts
  margin: 0 0 57px

  .list-social
    margin: 0 auto

    li
      margin: 0 58px 0 0

      &:last-child
        margin: 0

  .title-wrapper
    margin: 0 0 108px

  .title-wrapper__box
    border:
      right: 0.75px solid #000000

.contacts-box
  font-size: 18px
  line-height: 30px
  width: fit-content

  h3
    margin: 0 0 25px
    font-size: 22px
    font-weight: bold

  p
    margin: 0 0 33px

    &:last-child
      margin: 0

  h4
    font-size: 22px
    font-weight: 600
    margin: 0 0 20px

  a
    color: #000

    &:hover
      color: $accent

.contacts-box-center
  margin: 0 auto

.contacts-box-end
  margin: 0 0 0 auto

/*==========  section contacts end  ==========*/




/*==========  section formats ==========*/
.formats
  margin: 0 0 92px

  .table-responsive
    overflow: visible

  .title-wrapper__box
    width: 602px

.table-formats
  min-width: 1800px
  float: right
  margin: 0

  tr
    vertical-align: middle

  td
    padding: 27px 0
    vertical-align: middle

  td, th
    &:last-child, &:nth-child(2)
      width: 602px

  thead
    th
      vertical-align: top
      padding: 47px 69px
      background: $accent
      border: 0.75px solid #000000
        bottom: 0.375px solid #000000
        top: none
      position: relative

      &:first-child
        background: transparent
        border:
          left: none
        padding-left: 200px
        vertical-align: middle

  &__icon
    margin: 0 auto 17px
    display: flex
    align-items: center
    justify-content: center

  h3
    font-weight: bold
    text-align: center
    margin: 0 auto 24px
    font-size: 34px

  tbody
    p
      color: #808080
      font-size: 29px
      font-weight: bold

    span
      width: 100%
      max-width: 330px
      display: inline-block
      float: right

    td
      text-align: center
      border:
        right: 0.75px solid #7C7C7C
        top: 0.75px solid #7C7C7C

      &:first-child
        text-align: left
        padding: 27px 34px 27px 57px

    tr
      &:last-child
        td
          border-bottom: 0.75px solid #7C7C7C

.home-page
  padding: 0

  h1
    text-transform: uppercase
    font-size: 87px
    font-weight: 500
    margin: 0 0 27px 158px


.home-button-animate
  width: 409px
  border: 0.35px solid rgba(#FFC200, .7)
    top: none
    bottom: none
  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap

  .btn-download
    margin: auto

.home-title
  padding: 83px 0 114px
  width: calc(100% - 409px)
  border-left: 0.35px solid rgba(#FFC200, .7)

  .description-text
    max-width: 562px
    font-size: 18px
    margin: 0 144px 0 auto


/*==========  section formats end  ==========*/



/*==========  section media-section ==========*/
.media-section
  padding: 93px 0 123px

  .line-wrapper
    margin: 0 0 40px

  .news-card
    max-width: 487px


.callback-touch
  padding: 121px 0 131px

  .callback-content
    max-width: 655px

  .callback-wrapper
    padding: 0 98px 0 85px

  .box-text
    margin: 38px 0 11px

  .mail
    color: #fff
    font-size: 72px
    font-weight: 600

    &:hover
      color: $grey

.touch-social
  max-width: 505px
  position: relative
  width: 100%
  height: 523px
  margin: auto 0 auto auto
  display: flex
  align-items: center
  justify-content: center

  .list-social
    flex-wrap: wrap
    position: relative
    width: 100%
    height: 100%

    a
      width: 100%
      height: 100%

      img
        width: 100%

      &:hover
        background: #fff

    li
      position: absolute


.vk-link
  width: 142px
  height: 142px
  bottom: 34px
  left: 45px

.tg-link
  width: 189px
  height: 189px
  left: 0
  top: 119px


.in-link
  width: 178px
  height: 178px
  left: 185px
  bottom: 115px

.habr-link
  width: 71px
  height: 71px
  top: 140px
  left: 215px

.rutube-link
  width: 113px
  height: 113px
  right: 0
  bottom: 130px

.vc-link
  width: 144px
  height: 144px
  top: 113px
  right: 40px

.dzen-link
  width: 106px
  height: 106px
  top: 0
  left: 168px

.hh-link
  width: 103px
  height: 103px
  bottom: 0
  right: 119px

/*==========  section media-section end  ==========*/




/*==========  section cases-section ==========*/
.cases-section
  margin: 0 0 70px

.cases-section-head
  padding: 96px 0 53px

  .list-tags
    width: 100%
    margin: 0 0 39px

    &:last-child
      margin: 0

    li
      margin: 0 50px 0 0

      &:last-child
        margin: 0


.cases-row
  position: relative
  width: 100%
  border: 0.75px solid #000000
  background: #EDEDED
  cursor: pointer
  transition: .3s ease
  margin: 0 0 -0.75px

  &:last-child
    margin: 0

  &__footer
    border-left: 0.75px solid #000000
    display: flex
    align-items: center
    justify-content: flex-start
    padding: 59px 74px
    width: 340px
    position: absolute
    right: -120px
    top: 0
    height: 100%

  .links-right
    width: 82px
    height: 82px
    background: $accent
    fill: #000

  &:hover
    background: $accent

    .name-project
      color: #fff

    .box-text
      margin: 40px 0 0

    .item-hover
      display: block

    .cases-row__body
      padding: 128px 0 124px
      min-height: 380px
    .actual-vacancies-row__hidden
      display: block
  &__body
    padding: 45px 0 52px
    position: relative
    width: calc(100% - 207px)

  &__content
    max-width: 645px
    width: 100%

  &__title
    width: 100%
    font-size: 34px
    font-weight: bold
    color: #000

    &:hover
      color: #000

  .name-project
    color: #808080
    font-size: 34px
    font-weight: bold

  .box-text
    margin: 22px 0 0
    font-size: 18px

  .item-hover
    position: absolute
    bottom: -0.75px
    max-width: 620px
    right: 158px
    height: 349px
    margin: 0

    &__body
      height: 100%

  .item-hover__img
    height: 100%
/*==========  section cases-section end  ==========*/



/*==========  section competencies ==========*/
.home-page-accent
  background: $accent
  color: #000

  .home-title
    padding: 54px 0 87px 164px
    border-color: #000

  h1
    font-size: 70px
    text-transform: none
    margin: 0 0 2px

  .description-text
    margin: 12px 0 0 0

  .home-button-animate
    border-color: #000

.stacks
  width: 100%
  display: flex
  align-items: flex-start
  flex-wrap: wrap
  font-size: 25px
  font-weight: 500

.stacks-item
  margin: 0 25px 5px 0

  &:last-child
    margin: 0 0 5px
/*==========  section competencies end  ==========*/






/*==========  section see-more ==========*/
.see-more
  margin: 0 0 127px

  .competencies-box
    background: #fff

.see-more-wrapper
  margin: 67px 0 0
/*==========  section see-more end  ==========*/



/*==========  section tools ==========*/
.tools-wrapper
  width: 100%
  margin: 74px 0 117px
  display: flex
  align-items: stretch
  flex-wrap: wrap

.tools
  .title-wrapper__box
    border-right: 0.75px solid #000000

.tools-box
  width: 33.3%
  border: 0.75px solid #000000
  margin-right: -0.75px
  padding: 50px 64px 50px 45px
  font-size: 18px
  overflow: hidden

  h4
    margin: 0 0 18px
    width: 100%
    font-weight: 600

/*==========  section tools end  ==========*/





/*==========  section .competencies-description ==========*/
.competencies-description
  width: 100%
  margin: 127px 0

.competencies-description-item
  width: 100%

  &__head
    width: 100%
    margin: 0 0 65px

  &__body
    width: 100%
    padding: 0 0 0 175px

    p
      margin: 0 0 30px

    ul
      padding: 0 0 0 20px

      li
        margin: 0 0 10px

        &:last-child
          margin: 0

    .box-text
      font-size: 25px

blockquote
  margin: 119px 0 0
  width: 100%
  font-size: 20px
  display: flex
  flex-wrap: wrap
  align-items: center

.blockquote-content
  max-width: 890px
  position: relative
  line-height: 28px

  &:before
    content: '«'
    position: absolute
    line-height: 147px
    font-size: 121px
    color: #E6E6E6
    top: -55px
    left: -116px

  p
    &:last-child
      margin: 0

.blockquote-author
  margin-left: 145px
  text-align: center

  &__photo
    display: flex
    align-items: center
    justify-content: center
    border-radius: 50%
    margin: 0 auto 16px
    background: #D9D9D9
    width: 115px
    height: 115px
    min-width: 115px

  &__name
    font-size: 18px
    font-weight: 600

  &__posititon
    color: #808080

/*==========  section .competencies-description end  ==========*/



/*==========  section case page ==========*/
.btn-all-cases
  margin: 0 0 0 auto
  height: 41px
  padding: 0 33px
  font-size: 14px

.case-box-row
  width: 100%
  display: flex
  align-items: center
  margin: 0 0 30px
  &:hover
    .case-box-row__image
      &:before
        opacity: 1
  &__image
    background: #EDEDED
    position: relative
    width: 341px
    min-width: 341px
    height: 341px
    display: flex
    align-items: center
    justify-content: center
    img
      max-width: 143px
      opacity: .2
    &:before
      content: ''
      position: absolute
      background: url("../img/decor.svg") no-repeat center
        size: 100%
      width: 17px
      height: 17px
      top: 35px
      right: 35px
      transition: .3s ease
      opacity: 0
  h3
    font-size: 34px
    font-weight: 700
    margin: 0 0 30px
  &__content
    padding: 0 0 0 44px
  .box-text
    font-size: 18px
    max-width: 295px

/*==========  section case page end  ==========*/




/*==========  section home-page-contacts ==========*/
.home-page-contacts
  .home-title
    padding: 125px 0 153px 158px
  h1
    text-transform: uppercase

.reasons-write
  .title-wrapper__box
    border-right: 0.75px solid #000

.reasons-write-wrapper
  margin: 108px 0 36px

/*==========  section home-page-contacts end  ==========*/



/*==========  section maps-location ==========*/
.maps-location
  position: relative
  width: 100%
  z-index: 1
  padding: 138px 0 137px

.map
  width: 100%
  height: 100%
  position: absolute
  z-index: -1
  top: 0
  left: 0
  iframe
    width: 100%
    height: 100%
    filter: grayscale(100%)

.maps-location-wrapper
  display: flex
  align-items: flex-start
  flex-wrap: wrap
  padding: 0 85px

.maps-location-markers
  padding: 20px 0 0 238px
  .logo-company
    max-width: 304px
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    margin: 0 auto 61px

.marker-icon
  position: relative
  margin: 0 auto
  max-width: 101px
  width: 1005px
  display: flex
  align-items: center
  justify-content: center
  &:before
    content: ''
    position: absolute
    width: 507px
    height: 255px
    background: url("../img/arrow-map.svg") no-repeat center
      size: 100%
    bottom: -86px
    right: 45px


.maps-location-box
  max-width: 620px
  width: 100%
  background: #fff
  padding: 72px 69px 77px 79px
  h2
    max-width: 400px
    font-weight: 900
    text-transform: uppercase
    color: $accent
    margin: 0 0 40px
    line-height: 60px
    img
      margin: 0 0 0 20px
      display: inline-block
  .contacts-box
    h3
      margin: 0 0 17px

/*==========  section maps-location end  ==========*/


/*==========  section home-carrier ==========*/
.home-carrier
  position: relative
  z-index: 1
  background: url("../img/carrier-bg.jpeg") no-repeat center
    size: cover
  padding: 151px 0 194px
  &:before
    content: ''
    position: absolute
    z-index: -1
    background: #000
    opacity: .7
    width: 100%
    height: 100%
    top: 0
    left: 0
  .btn
    margin: 0 auto

.logo-carrier
  margin: 0 auto 105px
  display: flex
  align-items: center
  justify-content: center
  max-width: 494px
  width: 100%

.why-codeinside
  background: #000
  color: #fff
  padding: 110px 0 117px
  h3
    text-align: center
    margin: 0 auto
    font-size: 36px
    font-weight: 600

.why-codeinside-wrapper
  margin: 0 auto 57px
  position: relative
  width: 100%
  max-width: 1148px
  height: 646px
  img
    height: 100%
    width: 100%
    object-fit: cover

.btn-play
  border-radius: 50%
  padding: 10px
  height: 198px
  width: 198px
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%,-50%)
  background: $accent
  color: #000
  font-size: 20px
  font-weight: 600
  &:hover
    background: #fff
    color: #000

.more-than-work-box
  &:before
    display: none
  &:hover
    background: $accent


.worth-wrapper
  background: $accent
  position: relative
  z-index: 1

.section-image-decor
  position: absolute
  left: 50%
  transform: translate(-50%,0)
  bottom: 0
  max-width: 454px
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  z-index: 1

.worth-content
  padding: 140px 145px 84px 0

.hashtag
  position: relative
  width: fit-content
  margin: 0 0 135px
  &:before
    content: ''
    position: absolute
    z-index: -1
    transform: rotate(-8.68deg)
    border: 1px solid #000000
    width: 100%
    height: 98px
    top: 0
    left: 12px
  h2
    font-size: 60px
    font-weight: 900
    transform: rotate(-19.26deg)
    background: #fff
    padding: 10px 47px 10px 27px
    width: fit-content

.worth-content-slider__nav
  max-width: 582px
  width: 100%
  margin: 134px 0 0
  .slick-arrow
    &:hover
      fill: #fff
  .slick-dots
    li
      &:hover
        background: #fff
    .slick-active
      background: #fff

.worth-content-slider
  font-size: 25px
  .box-text
    max-width: 553px

.worth-image
  height: 100%
  min-width: 1004px
  .slick-list
    height: 100%
  .slick-slide
    height: auto
  .slick-track
    display: flex
    align-items: stretch
    height: 100%

.worth-image__item
  height: 100%
  min-width: 1004px
  img
    width: 100%
    height: 100%
    object-fit: cover

.actual-vacancies-row__hidden
  border-top: 0.75px solid #000000
  background: #fff
  padding: 103px 0 74px
  display: none

.actual-vacancies-item
  margin: 0 0 57px
  &:last-child
    margin: 0
  h3
    margin: 0 0 40px
    font-size: 34px
    font-weight: 600
  .box-text
    font-size: 25px
    padding: 0 0 0 176px
    line-height: 40px

.actual-vacancies
  margin: 0
/*==========  section home-carrier end  ==========*/



/*==========  section colleague ==========*/
.colleague
  padding: 178px 0 115px
  .box-text
    margin: 60px auto 44px
    font-size: 35px
    max-width: 750px
    width: 100%
    text-align: center
    a
      color: #000
  .btn
    margin: 0 auto
    max-width: 315px
    width: 100%
    height: 60px
    font-size: 20px
    border-radius: 34px
  h2
    width: fit-content
    text-transform: uppercase
    color: #fff
    border: 1px solid #000
    padding: 22px 70px
    font-size: 115px
    font-weight: 900
    margin: 0 40% 0 auto
  .subtitle
    transform: rotate(-8.4deg)
    background: #fff
    color: #000
    position: relative
    z-index: 1
    width: fit-content
    border: 1px solid #000000
    text-transform: uppercase
    font-weight: 900
    font-size: 115px
    margin: -22px 19% 0 auto
    padding: 30px 60px

/*==========  section colleague end  ==========*/

