@import "vars"

/*==========  section  ==========*/

/*==========  section end  ==========*/



/*==========  section  ==========*/

/*==========  section end  ==========*/


/*==========  section  ==========*/

/*==========  section end  ==========*/



/*==========  section  ==========*/

/*==========  section end  ==========*/



/*==========  section  ==========*/

/*==========  section end  ==========*/



/*==========  section  ==========*/

/*==========  section end  ==========*/


/*==========  section  ==========*/

/*==========  section end  ==========*/



/*==========  section  ==========*/

/*==========  section end  ==========*/


/*==========  section trust-us ==========*/
.trust-us
  padding: 0 0 106px
  .title-wrapper
    margin: 0 0 68px

.partners-section
  margin: 50px 0 0
  h3
    margin: 0 0 48px
    font-size: 34px
    font-weight: bold

.partners-slider
  .slick-slide
    padding: 0 28px
  .slick-list
    margin: 0 -28px


.partners-box
  display: flex
  align-items: center
  justify-content: center
  height: 73px
  img
    max-height: 100%

.trust-us-box
  width: 100%
  height: 100%
  border: 0.75px solid #000000
  &__photo
    width: 100%
    height: 227px
    display: flex
    align-items: center
    justify-content: center
    background: #D9D9D9
  &__body
    width: 100%
    padding: 16px 25px 38px
  h3
    font-weight: 600
    font-size: 22px
    margin: 0 0 20px
  .position
    color: #7D7D7D
    min-height: 28px
  &__footer
    margin: 20px 0 0
    border-top: 0.75px solid #000000
    padding: 18px 0 0
    display: flex
    align-items: center
    flex-wrap: wrap
    justify-content: flex-end

.links-contacts
  display: flex
  align-items: center
  justify-content: center
  margin: 0 0 0 20px
  border: 0.75px solid #000000
    radius: 50%
  padding: 8px
  fill: #000
  width: 34px
  height: 34px
  min-width: 34px
  &:hover
    background: $accent


.links-contacts-mail
  fill: none
  stroke: #000

/*==========  section trust-us end  ==========*/



/*==========  section reviews ==========*/
.reviews
  padding: 0 0 98px

.reviews-slider
  margin: 107px 0 0
  .slick-track
    display: flex
    align-items: stretch
  .slick-slide
    padding: 0 12px
    height: auto
  .slick-list
    margin: 0 -12px

.reviews-box
  background: #fff
  height: 100%
  width: 100%
  display: flex
  align-items: flex-start
  padding: 62px 39px 61px 57px
  &__photo
    display: flex
    align-items: center
    justify-content: center
    width: 250px
  &__body
    width: calc(100% - 250px)
    padding: 0 0 0 32px
  &__company
    color: $accent
    margin: 0 0 40px
  h3
    margin: 0 0 20px
    font-size: 34px
    font-weight: bold
  .position
    color: #7D7D7D
    margin: 0 0 27px

.quote
  position: relative
  line-height: 18px
  padding: 0 0 0 54px
  &:before
    content: ''
    position: absolute
    left: 0
    top: 0
    width: 42px
    height: 41px
    background: url("../img/quote.svg") no-repeat center
      size: 100%



/*==========  section reviews end  ==========*/


/*==========  section news ==========*/
.news
  padding: 0 0 90px

.news-slider
  margin: 60px 0 0
  .slick-slide
    padding: 0 36px
  .slick-list
    margin: 0 -36px


.news-card
  width: 100%
  background: #fff
  &__body
    width: 100%
    position: relative
    padding: 45px 65px 59px 50px
    &:before
      content: ''
      background: url("../img/decor.svg") no-repeat center
        size: 100%
      width: 17px
      height: 17px
      top: 28px
      right: 31px
      opacity: 0
      position: absolute
  .box-text
    font-size: 16px
    line-height: 18px
  h3
    margin: 0 0 18px
    font-weight: bold
    font-size: 22px
  &__img
    width: 100%
    height: 280px
    display: flex
    align-items: center
    justify-content: center
    img
      width: 100%
      height: 100%
      object-fit: cover
  &:hover
    .news-card__body
      &:before
        opacity: 1

/*==========  section news end  ==========*/



/*==========  section community ==========*/
.community-slider
  .slick-track
    display: flex
    align-items: stretch
  .slick-slide
    height: auto

.section-wrapper
  width: 100%
  padding: 77px 0 82px
  background: url("../img/bg-cube.svg") no-repeat center
    size: cover

.community-item
  position: relative
  border: 0.75px solid #000000
  padding: 83px 74px 130px 72px
  line-height: 20px
  font-size: 18px
  transition: .3s ease
  width: 100%
  height: 100%
  &:before
    content: ''
    background: url("../img/decor.svg") no-repeat center
      size: 100%
    width: 17px
    height: 17px
    top: 39px
    right: 36px
    opacity: 0
    position: absolute
  &:hover
    background: #FFC200
    &:before
      opacity: 1
    .community-item__logo
      filter: brightness(0) invert(1)
  h3
    font-weight: bold
    margin: 0 0 29px
    font-size: 34px
  .box-text
    max-width: 410px
    width: 100%
  &__logo
    display: flex
    align-items: center
    margin: 0 0 44px
    max-width: 389px
    height: 100px
    transition: .3s ease
    img
      max-width: 100%
      max-height: 100%

/*==========  section community end  ==========*/


/*==========  section callback ==========*/
.callback
  h2
    font-size: 115px
    line-height: 103px
    font-weight: 900

.subtitle
  font-size: 75px
  font-weight: 600
  color: #fff
  line-height: 103px


.callback-wrapper
  width: 100%
  display: flex
  align-items: center
  flex-wrap: wrap
  padding: 0 156px 0 80px
  .box-text
    font-size: 48px
    line-height: 54px


.callback-content
  max-width: 610px
  width: 100%

.callback-box
  max-width: 656px
  width: 100%
  background: #fff
  margin: 0 0 0 auto
  padding: 67px

.form-group
  width: 100%
  margin: 0
  display: flex
  align-items: center
  flex-wrap: wrap
  justify-content: space-between
  label
    width: calc(50% - 7.5px)


/*==========  section callback end  ==========*/



/*==========  section contacts ==========*/
.contacts
  margin: 0 0 57px
  .list-social
    margin: 0 auto
    li
      margin: 0 58px 0 0
      &:last-child
        margin: 0
  .title-wrapper
    margin: 0 0 108px

.contacts-box
  font-size: 18px
  line-height: 30px
  width: fit-content
  h3
    margin: 0 0 25px
    font-size: 22px
    font-weight: bold
  p
    margin: 0 0 33px
    &:last-child
      margin: 0
  h4
    font-size: 22px
    font-weight: 600
    margin: 0 0 20px
  a
    color: #000
    &:hover
      color: $accent

.contacts-box-center
  margin: 0 auto

.contacts-box-end
  margin: 0 0 0 auto

/*==========  section contacts end  ==========*/